.dashboard {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 3.6rem  1fr auto;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'footer footer';
    min-block-size: 100vh;
    &.sidebar-expanded {
        grid-template-columns: 15rem 1fr;
    }

    &.sidebar-collapsed {
        grid-template-columns: 5rem 1fr;
    }

    transition: grid-template-columns 0.3s ease;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 3.6rem  1fr auto;
        grid-template-areas:
            'header header'
            'main main'
            'footer footer';

        &.sidebar-collapsed {
            grid-template-columns: 1fr;
        }

        &.sidebar-expanded {
            grid-template-columns: 1fr;
        }
    }
}

.dashboard-header {
    grid-area: header;
    border-bottom: 1px solid rgba(102, 102, 102, 1);

    .hamburger-button {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .hamburger-button {
            display: block;
        }
    }
}

.dashboard-sidebar {
    grid-area: sidebar;
    position: relative;
    border-right: black 1px solid;
    transition: transform 0.3s ease-in-out;
    z-index: 10;

    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        background: #000;
        height: 100%;
        transform: translateX(-100%);
        z-index: 100;
    }

    &.sidebar-expanded {
        transform: translateX(0);
    }

    .toggle-button {
        position: absolute;
        top: 1rem;
        transition: left 0.3s ease;
    }
}

.sidebar-expanded .toggle-button {
    left: calc(100% - 0.6rem);
}

.sidebar-collapsed .toggle-button {
    left: 2.3rem;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 50;
    display: none;
    transition: opacity 0.3s ease;
}

.sidebar-expanded~.sidebar-overlay {
    display: block;
    opacity: 1;
}

.dashboard-main {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 58px) !important;
}

.dashboard-footer {
    grid-area: footer;
    padding: 1rem;
    text-align: center;
    border-top: black 1px solid;
}