:root {
    --primaryClr: rgba(0, 231, 1, 1);
    --secondaryClr: rgba(76, 175, 80, 1);
    --primaryFontClr: rgba(255, 255, 255, 1);
    --secondaryFontClr: rgba(189, 189, 189, 1);
    --sectionBgClr: rgba(18, 18, 18, 1);
    --whiteBgClr: rgba(33, 33, 33, 1);
    --dangerClr: rgba(255, 69, 58, 1);
}