*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav::-webkit-scrollbar {
    width: 5px;
}

nav::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51, 1);
    border-radius: 10px;
}

nav {
    scrollbar-width: 5px;
}